https://www.extensionschool.ch/learn/programs/applied-data-science-machine-learning-v1/subjects/exploratory-data-analysis-numerical-and-graphical-summaries-v1/units/importing-data-from-a-csv-file-v1

https://www.extensionschool.ch/learn/programs/applied-data-science-machine-learning-v1/subjects/course-project-v2/units/list-of-tasks-v1

# Import

In [4]:
import pandas as pd

# Read

In [5]:
data = pd.read_csv('data.csv')

# Number of observations

In [6]:
data.count()

Country             153
Happiness Rank      153
Happiness Score     153
Economy             153
Family              153
Health              153
Freedom             153
Generosity          153
Corruption          153
Dystopia            153
Job Satisfaction    151
Region              153
dtype: int64

> We can see 153 observations except for Job Satisfaction (151)

In [8]:
data.dtypes

Country              object
Happiness Rank        int64
Happiness Score     float64
Economy             float64
Family              float64
Health              float64
Freedom             float64
Generosity          float64
Corruption          float64
Dystopia            float64
Job Satisfaction    float64
Region               object
dtype: object

In [9]:
data.describe()

,Happiness Rank,Happiness Score,Economy,Family,Health,Freedom,Generosity,Corruption,Dystopia,Job Satisfaction
count,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000
mean,77.827815,5.357874,0.983895,1.190509,0.550794,0.409805,0.244914,0.123008,1.854910,75.209934
std,44.934732,1.132826,0.420955,0.286371,0.236116,0.150144,0.135236,0.102776,0.502189,12.962365
min,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914,44.400000
25%,39.500000,4.505500,0.663371,1.042635,0.369866,0.303677,0.152574,0.056919,1.605148,68.950000
50%,78.000000,5.279000,1.064578,1.253918,0.606042,0.437454,0.230947,0.089283,1.832910,78.100000
75%,116.500000,6.101500,1.314879,1.418162,0.715975,0.519467,0.323762,0.152207,2.161605,85.100000
max,155.000000,7.537000,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485,95.100000

In [10]:
data.count()

Country             151
Happiness Rank      151
Happiness Score     151
Economy             151
Family              151
Health              151
Freedom             151
Generosity          151
Corruption          151
Dystopia            151
Job Satisfaction    151
Region              151
dtype: int64

In [7]:
data = data.dropna(axis=0, how='any')