https://www.extensionschool.ch/learn/programs/applied-data-science-machine-learning-v1/subjects/exploratory-data-analysis-numerical-and-graphical-summaries-v1/units/importing-data-from-a-csv-file-v1

https://www.extensionschool.ch/learn/programs/applied-data-science-machine-learning-v1/subjects/course-project-v2/units/list-of-tasks-v1

# Import

In [5]:
import pandas as pd

# Read

In [3]:
data = pd.read_csv('data.csv')

# Number of observations

In [9]:
data.count()

Country             153
Happiness Rank      153
Happiness Score     153
Economy             153
Family              153
Health              153
Freedom             153
Generosity          153
Corruption          153
Dystopia            153
Job Satisfaction    151
Region              153
dtype: int64

In [13]:
data.dtypes

Country              object
Happiness Rank        int64
Happiness Score     float64
Economy             float64
Family              float64
Health              float64
Freedom             float64
Generosity          float64
Corruption          float64
Dystopia            float64
Job Satisfaction    float64
Region               object
dtype: object

In [11]:
data.describe()

,Happiness Rank,Happiness Score,Economy,Family,Health,Freedom,Generosity,Corruption,Dystopia,Job Satisfaction
count,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,151.000000
mean,78.169935,5.349281,0.982433,1.186630,0.550117,0.408489,0.245324,0.123179,1.853072,75.209934
std,45.008741,1.134997,0.421901,0.288441,0.237769,0.150744,0.134395,0.102133,0.499490,12.962365
min,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914,44.400000
25%,40.000000,4.497000,0.659517,1.041990,0.364509,0.300741,0.153075,0.057070,1.597970,68.950000
50%,78.000000,5.279000,1.064578,1.251826,0.606042,0.437454,0.231503,0.089848,1.832910,78.100000
75%,117.000000,6.098000,1.315175,1.416404,0.719217,0.518631,0.322228,0.153066,2.150801,85.100000
max,155.000000,7.537000,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485,95.100000

AttributeError: 'Series' object has no attribute 'isNaN'